body{
	background-image: url('../img/body-bg.jpg');
	background-repeat: no-repeat scroll;
	background-size: 100% 100%;
	min-height: 650px;
}
footer img{
  height: 50px;
  width: 50px;
}
footer img:hover{
  background-color: lightblue;
}
.navbar p{
	color: white;
	font-size: 35px;
	font-family: lucida caligraphy;
}
h1, h2{
	font-family: lucida caligraphy;
	font-size: 35px;
}
